---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  
  <div class="col-md-8">

  {% include index/carousel.html %}
  
  </div>
  
  <div class="col-md-4">  

    {% include index/objects.html %}=
    
    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" field="location" title="key words" btn-color="info" featured=site.data.theme.featured-subjects max=site.data.theme.featured-subjects-max %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" featured=site.data.theme.featured-locations max=site.data.theme.featured-locations-max %}

  </div>
  
  <div class="col-md-12">
    
    {% include credits.html %}
    
  </div>
  
</div>
